
<div class="pag"> 
  <div class="boton">
  <button type="button" class="btn btn-info" (click)="openModalAgregar()" >Agregar Nuevo Automovil </button> 
</div>
<div class="tabla"><table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Marca</th>
    <th scope="col">Modelo</th>
    <th scope="col">Submarca</th>
    <th scope="col">Descripcion</th>  
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let auto of autos | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
    <th> {{ auto._id }}</th>
    <td> {{ auto.marca }}  </td>
    <td>{{ auto.modelos }}</td>
    <td>{{ auto.submarca }}</td>
    <td >{{ auto.descripcion }}</td>
    <td (click)="openModalEditar(auto)"><img  src="assets/images/update.png" class="imagen" alt="Imagen update" srcset width="20"></td>
    <td > <img  src="assets/images/eliminar.png" class="imagen" alt="Imagen eliminar" srcset width="20"></td>
  </tr>
  </tbody>
</table>
</div>



<ngb-pagination
  [(page)]="page"
  [pageSize]="pageSize"
  [collectionSize]="autos?.length"></ngb-pagination>


</div>