.menu{
    background-color: #c9d6df;
    display: flex;
    height: 50px;
    font-size: x-large;
}

.ab{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #110d08 ; 
    text-decoration: none;
    font-family: fantasy;
    color: black;
}

.ab:hover{
    background-color:lightslategray;
}

.active{
    background-color: dimgray;
}
.active:hover{
    background-color: dimgray ;
}