.menu{
    background-color: #27496d;
    display: flex;
    height: 50px;
    font-size: xx-large;
   
   
    
    
}

.ab{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #110d08 ; 
    text-decoration: none;
    font-family: fantasy;
}




