.lista{
    
    height: 120px;
    margin: 20px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #52616b; 
    background-color: #52616b;
    border-radius: 19px;
   
}


.imagen{
    
    margin: 1px 25px ;
    cursor: pointer;
}

.texto{
    
    margin-right: 50px;
    font-size: xx-large;
    font-family: fantasy;
}

.texto2{
    
    margin-right: 50px;
    font-size: large;
    font-family: fantasy;
}



