
<ng-container *ngFor='let auto of autos | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize'>
    <div class="lista">
        <div (click)="open(content,auto)"> <img class="imagen" src="assets/images/info.png" alt="Imagen informacion"
                srcset width="57"> </div>

        <div class="texto">{{auto?.marca}} {{auto?.submarca}}</div>

    </div>
</ng-container>

<div class="pag">
<ngb-pagination
  [(page)]="page"
  [pageSize]="pageSize"
  [collectionSize]="autos?.length"></ngb-pagination>

</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="texto" id="modal-basic-title">Detalles del Automovil</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="texto2">
        Marca: {{autoSeleccionado?.marca}}<br>
        Modelo: {{autoSeleccionado?.modelos}}<br>
        Submarca: {{autoSeleccionado?.submarca}}<br>
        Descripcion: {{autoSeleccionado?.descripcion}}
    </div>
</ng-template>